<!DOCTYPE html>
<html>
<head>
  <title>GoogleDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<%= APP_CONFIG["google-site-verification"] %>-->
  <!-- 社内ICT用-->
  <meta name="google-site-verification" content="c-8EfyL4cvVGcHo3sdHoTYPhR7ELgKEdyCMGeXVJKyg" />
  <!-- すまいIot用-->
  <meta name="google-site-verification" content="PZDi1CWGW25rzFiv5I5OBN2btplsGK2ErW3jxVZ8DsQ" />
  <!--mythings-->
  <meta name="google-site-verification" content="mwXIsAM7T9kSRBW3kjGPEP7LkI_CATVt0eJgBTmK-es" />
  <meta name="google-site-verification" content="PZDi1CWGW25rzFiv5I5OBN2btplsGK2ErW3jxVZ8DsQ" />
</head>
<body>

<%= yield %>

</body>
</html>
